:root {
  --border-radius: 0.7em;
  --box-shadow-offset: 0.3em;
  --primary-color: #c97979;
  --secondary-color: #eeb7b7;
  --table-secondary-color: #d9d9d9;
  --background-secondary-color: #ddd;
  --background-primary-color: white;
}

.dark-mode {
  --background-secondary-color: #2e3437;
  --background-primary-color: #141718;

  --table-secondary-color: #214377;

  --primary-font-color: white;
  --secondary-font-color: black;

  --primary-color: #5c2b56;
  --secondary-color: rgb(161, 182, 226);
  --table-secondary-color: #9d9dc9;

  color: var(--primary-font-color);
  background-color: var(--background-secondary-color);

  .header {
    background-color: var(--background-secondary-color);
  }

  .header-buttons button {
    color: var(--primary-font-color);
  }

  form input,
  form select {
    background-color: var(--secondary-color);
  }

  table th {
    color: var(--primary-font-color);
  }
  table tr,
  table td {
    color: var(--secondary-font-color);
  }

  table tr:nth-child(even) {
    background-color: var(--secondary-color);
  }
  table tr:nth-child(odd) {
    background-color: var(--table-secondary-color);
  }
}

body {
  font-family: "Afacad Flux", sans-serif;
  margin: 0%;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  background-color: var(--background-secondary-color);
}

/* Header */
.header {
  width: 90%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  text-align: center;
  font-size: 2em;
}

.header-buttons {
  display: flex;
  align-self: flex-end;
}
.header-buttons button {
  border: none;
  padding: 0 1.4em;
  cursor: pointer;
  background-color: var(--background-secondary-color);
  height: 3em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.theme-toggle {
  cursor: pointer;
  background-color: gray;
  width: 3em;
  height: 1.5em;
  border-radius: 2em;
  border: 1px solid black;
  display: flex;
  align-items: center;
  position: relative;
}
.circle {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  box-shadow: 0em 0em 3px 1px rgb(255, 255, 255);
}

.circle.dark {
  transform: translateX(1.65em);
  transition: all 0.2s ease-in-out;
  background-color: white;
}

.circle.light {
  background-color: black;
  transform: translateX(0.15em);
  transition: all 0.2s ease-in-out;
}

#active-tab {
  background-color: var(--background-primary-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  position: relative;
}

#active-tab::after,
#active-tab::before {
  content: " ";
  width: 1em;
  height: 1em;
  background-color: var(--background-secondary-color);
  position: absolute;
  bottom: 0em;
}
#active-tab::after {
  left: calc(-1em * 1);
  border-radius: 0 0 var(--border-radius) 0;
  box-shadow: 0.4em 0.4em 0px var(--background-primary-color);
}
#active-tab::before {
  right: calc(-1em * 1);
  border-radius: 0 0 0 var(--border-radius);
  box-shadow: -0.4em 0.4em 0px var(--background-primary-color);
}

@media screen and (max-width: 768px) {
  .header {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4em 1fr;
  }

  .logo {
    grid-area: 1/2/2/3;
    align-self: center;
  }

  .header-buttons {
    width: 100%;
    grid-area: 2/2/3/3;
  }

  .theme-toggle {
    grid-area: 1/3/2/4;
    align-self: center;
    justify-self: center;
  }

  #active-tab::after,
  #active-tab::before {
    content: " ";
    width: 1em;
    height: 1em;
    background-color: var(--background-secondary-color);
    position: absolute;
    bottom: 0;
  }
  #active-tab::after {
    left: calc(-1em * 1);
    border-radius: 0 0 var(--border-radius) 0;
    box-shadow: 0.3em 0.3em 0px var(--background-primary-color);
  }
  #active-tab::before {
    right: calc(-1em * 1);
    border-radius: 0 0 0 var(--border-radius);
    box-shadow: -0.3em 0.3em 0px var(--background-primary-color);
  }
}

/* Main */

.title {
  text-align: center;
  width: 100%;
  font-size: 2.5em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-primary-color);
  margin: 1em;
  margin-top: 0;
  border-radius: var(--border-radius);
  min-height: 82vh;
}

.form-container {
  width: 45%;
}

.form-container form {
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  padding: 3em;
  display: flex;
  flex-direction: column;
}

.main div:last-child {
  margin-bottom: 2em;
}

input,
select {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--table-secondary-color);
}

label {
  margin-top: 0.7em;
  font-size: 2em;
}

.submit-btn {
  cursor: pointer;
  font-size: 1.5em;
  padding: 0.2em;
  border-radius: 0.4em;
  width: 6em;
  margin: auto;
  margin-top: 2em;
  border: none;
}

.submit-btn:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 90%;
  }
  .main {
    min-height: 50vh;
  }
}
/* ClientCard */

.clients-container {
  width: 45%;
}
.client-card {
  margin: 2em auto;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.25em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2em 1fr;
  border-radius: 0.7em;
  gap: 0.5em;
  align-items: center;
  padding: 0.5em;
}

.client-name,
.total {
  padding: 0.5em;
}

.total {
  text-align: right;
}

hr {
  grid-column: span 2;
  width: 100%;
  margin: 0%;
}
.client-card table {
  grid-column: span 2;
}

@media screen and (max-width: 768px) {
  .clients-container {
    width: 90%;
  }
}
/* Table */

.table-container {
  width: 45%;
}

table {
  font-size: 1.3em;
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  color: black;
}

th,
td {
  padding: 0.3em;
  text-align: center;
}

th {
  background-color: var(--primary-color);
}

th:first-child {
  border-radius: var(--border-radius) 0 0 0;
}
th:last-child {
  border-radius: 0 var(--border-radius) 0 0;
}

tr:last-child td:first-child {
  border-radius: 0 0 0 var(--border-radius);
}
tr:last-child td:last-child {
  border-radius: 0 0 var(--border-radius) 0;
}

tr:nth-child(even) {
  background-color: var(--table-secondary-color);
}
tr:nth-child(odd) {
  background-color: var(--secondary-color);
}

.delete-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.delete-btn svg {
  pointer-events: none;
  width: 2.3em;
  height: 2.3em;
}

.delete-btn svg:active {
  transform: scale(1.1);
  transition: transform 0.1s;
}

@media screen and (max-width: 768px) {
  .table-container {
    width: 90%;
  }
}

/* Footer */
footer {
  margin-top: auto;
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  background-color: var(--background-secondary-color);
}
